<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">



            <!-- Content -->
            <section>
                <header class="main">
                    <h1>Página de usuarios logeados</h1>
                </header>

                <span class="image main"><img src="https://firebasestorage.googleapis.com/v0/b/tundraapp-fe765.appspot.com/o/question-mark-2212771_1920.jpg?alt=media&token=99377eb2-759b-4f5f-a04c-e533d81c38aa" alt="" /></span>

                <p>Esta podría ser la portada de la zona para usuarios logeados, es una parte que solo se podrá acceder a través del login, tiene activado el canActivate de los Guards.

                </p>
                <p>No tengo creada aún que se mantenga la sesión, con tiempo implementaré un sistema de tokens o mismamente que se guarde en el localStorage. Esto es solo una muestra de mi trabajo, no soy profesional, soy autodidacta y no tengo ayuda de
                    nadie, solo de mi mismo y de videos que veo de cursos de Angular</p>
                <p>Nunca podrás derrotar a la persona que nunca se rinde.</p>
                <blockquote>Babe Ruth</blockquote>

                <hr class="major" />

                <h2>Aqui irían más cosas para los usuarios</h2>
                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur
                    id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque
                    enim turpis, hendrerit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam
                    venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at,
                    elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

                <hr class="major" />

                <h2>Noticias</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam
                    venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit
                    amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

                <hr class="major" />



            </section>

        </div>
    </div>



</div>