<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Tundra Resources</h1>
            <p>Buscamos recursos, elegimos personas, generamos confianza</p>
        </header>
        <p>Una empresa triste, y hay muchas, es una empresa muerta. La alegría debería ser la condición natural de cualquier ambiente de trabajo. Fomentar el compañerismo, la amistad, las relaciones, los equipos de trabajo colaborativos, la diversión, la
            ayuda, el consejo, la mentalidad de trabajo útil ¿Para qué sirve mi trabajo?</p>
        <ul class="actions">
            <li><a href="#" class="button big">Info</a></li>
        </ul>
    </div>
    <span class="image object">
                                    <img src="../assets/images/pic01.jpg" alt="" />
                                </span>
</section>



<!-- Section -->
<section>
    <header class="major">
        <h2>Soluciones inmediatas</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="../assets/images/pic04.jpg" alt="" /></a>
            <h3>Humanismo.</h3>
            <p>El día que vayas a la oficina con un problema personal y tu jefe lo note en tu ánimo y te pregunte «¿Qué te pasa?». Ese día es posible que descubras algo nuevo en tu empresa y de manera especial en tu superior. Ese día te sentirás más persona.</p>
            <ul class="actions">
                <li><a href="#" class="button"> Leer más...</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic02.jpg" alt="" /></a>
            <h3>Resultados.</h3>
            <p>Cuando nos olvidemos de las tareas y nos centremos en los resultados, en ese momento empezaremos a sentir que estamos trabajando de una forma más racional y natural. ¿Por qué aun existen empresas con “cultura presentista”? Si lo importante
                son los resultados ¿Por qué no se deja a la gente que trabaje cuando considere?</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más...</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic03.jpg" alt="" /></a>
            <h3>Conversación.</h3>
            <p>Ya no valen las comunicaciones, lo que cuenta son las conversaciones. Esos momentos en que uno necesita hablar y sentirse escuchado.</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más...</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic04.jpg" alt="" /></a>
            <h3>Simplicidad.</h3>
            <p>Las organizaciones necesitan procesos sencillos, muy sencillos. Piensa que no hay nada más estúpido que hacer brillantemente algo que no sirve para nada. La mejor idea siempre nace de una pequeña chispa. Cualquier gran cambio empieza por algo
                minúsculo.
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más...</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic05.jpg" alt="" /></a>
            <h3>Coherencia.</h3>
            <p>En la empresa el mejor programa de formación es el que se trasmite con el ejemplo. ¿Se puede hacer una congelación salarial al tiempo que la alta dirección se va a comer a un “cinco estrellas Michelin”? ¿Cómo es posible establecer un programa
                de atención al cliente y pedirle que te llame a un 902? Es muy difícil convencer si uno no encarna los valores que propugna.</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más...</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="../assets/images/pic06.jpg" alt="" /></a>
            <h3> Ética.</h3>
            <p>Así como hay programas de formación con poco ROI, el de la ética debería ser un curso obligatorio para toda la plantilla, desde el primero hasta el último, y con mucho ROI. Entre las cosas a evaluar, sin duda, la honradez debería ocupar un
                lugar muy destacado.</p>
            <ul class="actions">
                <li><a href="#" class="button">Leer más...</a></li>
            </ul>
        </article>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Lo que ofrecemos en Tundra</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>Flexibilidad horaria</h3>
                <p>Adecúa la jornada a las necesidades del empleado. Puedes implementarlo siendo flexible con la hora de entrada y salida, marcando dos opciones, pero organizando la jornada entre una franja de horas concretas.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paper-plane"></span>
            <div class="content">
                <h3>Conciliación familiar</h3>
                <p>Cumple con un conjunto de medidas encaminadas a favorecer que el trabajador tenga unas condiciones más beneficiosas a la hora de desarrollar su carrera profesional sin perjuicio de su vida personal y familiar.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-rocket"></span>
            <div class="content">
                <h3>Formación bonificada</h3>
                <p>Incrementa el rendimiento y la competitividad de tu equipo de trabajo a través de bonificaciones en la cotización de la Seguridad Social.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-signal"></span>
            <div class="content">
                <h3>Cobro flexible de ingresos</h3>
                <p>Se trata de un beneficio social innovador que permite a los trabajadores cobrar sus ingresos cuando lo necesitan, sin generar costes, gestiones extra ni cambios en el ciclo de tesorería de las empresas. Descubre las ventajas del cobro
                    flexible en este post.</p>
            </div>
        </article>
    </div>
</section>
<hr>